.ant-layout-header {
    padding: 0px;
    background: #141414;
}

.ant-layout {
    min-height: 100vh;
}

.fade-in {
    animation: fade-in ease-in-out 0.5s;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.wpp-icon {
    cursor: pointer;
    transition: 0.4s;
}

.wpp-icon:hover {
    color: #25d366;
}

.patrocinator {
    cursor: pointer;
    transition: 0.4s;
}

.patrocinator:hover {
    transform: scale(1.1);
}